.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tt{
  position: absolute;
  width: 367px;
  height: 81px;
  left: 140px;
  top: 42px;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 125.5%;
  
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
  }

  .b1{
position: absolute;
width: 90px;
height: 100px;
left: 1210px;
top: 42px;
background: rgba(255, 255, 255, 0);
border: 1px solid white ;
border-radius: 210px;


position: absolute;
width: 70px;
height: 40px;
left: 1222px;
top: 35px;

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 125.5%;

letter-spacing: -0.02em;

color: #FFFFFF;


  }
  .b2{
    position: absolute;
    width: 90px;
    height: 100px;
    left: 1100px;
    top: 42px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white ;
border-radius: 210px;

    
    
    
    
    position: absolute;
    width: 66px;
    height: 40px;
    left: 1150px;
    top: 35px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125.5%;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    
      }

      .b3{
       

position: absolute;
width: 496px;
height: 260px;
left: 133px;
top: 333px;

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 94px;
line-height: 125.5%;


color: #FFFFFF;


      }

 
 
 .b6{
  position: absolute;
  width: 268px;
  height: 359px;
  left: 691px;
  top: 240px;

 }
 .b7{
  position: absolute;
  width: 268px;
  height: 359px;
  left: 1032px;
  top: 269px;

 }
 .b8{
  position: absolute;
  width: 500px;
  height: 359px;
  left: 580px;
  top: 269px;
  color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .b9{
  
    position: absolute;
    width: 90px;
    height: 100px;
    left: 10px;
    top: 42px;
    background: white;
    border-radius: 210px;
    
    
    
    
    position: absolute;
    width: 80px;
    height: 50px;
    left: 700px;
    top: 350px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 125.5%;
    
    letter-spacing: -0.02em;
    
    color: ee9545;
    
    
     
 }
 .b10{
  position: absolute;
   left: 450px;
    top: 300px;
    color:white;
 }
 .b11{
  position: absolute;
  left: 450px;
  top: 350px;
  color:white
 
}
.b12{
  position: absolute;
  left: 450px;
  top: 400px;
  color:white
 
} .b13{
  position: absolute;
  left: 450px;
  top: 450px;
  color:white
  
}
.b14{
  position: absolute;
  left: 450px;
  top: 500px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white ;
border-radius: 210px;
color: white;
  
}
.b15{
  position: absolute;
  width: 80px;
  height: 50px;
  left: 500px;
  top: 220px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white ;
border-radius: 150px;
color: white;
}
.b16{
  position: absolute;
  width: 80px;
  height: 50px;
  left: 500px;
  top: 343px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white ;
border-radius: 150px;
color: white;
}
.b17{
  position: absolute;
  width: 80px;
  height: 50px;
  left: 500px;
  top: 255px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white ;
border-radius: 150px;
color: white;
}